@model ProfileMatching.Models.ClientDetail

@{
    ViewData["Title"] = "Index";
}

<h1>Client Profile</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Position
            </td>
            <td>
                @Model.CompanyName
            </td>
            <td>
                @Model.Description
            </td>
            <td>
                @Model.City.CityName
            </td>
            <td>
                <a asp-action="Edit" asp-controller="ClientDetails" asp-route-id="@Model.ClientDetailsId">Edit</a> 
            </td>
        </tr>
    </tbody>
</table>


<table class="table">
    <thead>
        <tr>

            <th>
                <label>JobPostName</label>
                @ViewBag.JobPostName
            </th>
            <th>
                <label>Budget</label>
                @ViewBag.JobPostBudget
            </th>
            <th>
                <label>Length</label>
                @ViewBag.JobLength
            </th>
            <th>
                <label>JobPostDescription</label>
                @ViewBag.JobPostDescription
            </th>
            <th>
                <label>Deadline</label>
                @ViewBag.JobApplicationDeadline
            </th>
            <th>
                <label>Category</label>
                @ViewBag.Category
            </th>
            <th>Client Name</th>
            <th>
                CompanyName
            </th>
            <th>
                <a asp-controller="JobPosts" asp-action="Create">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.JobPosts) {
        <tr>
                <td>
                    @item.JobPostName
                </td>
                <td>
                    @item.JobPostBudget
                </td>
                <td>
                    @item.JobLength
                </td>
                <td>
                    @item.JobPostDescription
                </td>
                <td>
                    @item.JobApplicationDeadline
                </td>
                <td>
                    @item.Category.CategoryName
                </td>
                <td>
                    @item.ApplicationUser.FirstName
                    @item.ApplicationUser.LastName
                </td>
                <td>
                    @item.CompanyName
                </td>
                    <td>
                <a asp-controller="JobPosts" asp-action="Edit" asp-route-id="@item.JobPostId">Edit</a> |
                <a asp-controller="JobPosts" asp-action="Delete" asp-route-id="@item.JobPostId">Delete</a> |
                <a asp-controller="ApplicantsPerJobs" asp-action="ShowJobApplicants" asp-route-id="@item.JobPostId">Show Applicants</a> |
                <a asp-controller="Freelancers" asp-action="Suggested" asp-route-id="@item.Category.CategoryId">Suggested Freelancers</a>
            </td>
            </tr>
          
            }
        </tbody>
    </table>