@model ProfileMatching.Models.ClientDetail
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

    @if (TempData["SuccessfulApplication"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Application was successful!");
            };
        </script>
    }

    @if (TempData["SuccessfulSave"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Job saved successfully!");
            };
        </script>
    }

<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3>@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h3>
                    <h5 class="card-title">@Model.Position at <span class="fw-bold">@Model.CompanyName</span> | @Model.City.CityName</h5>
                    <p class="card-text">@Model.Description</p>
                    <a href="mailto:@Model.ApplicationUser.Email" class="btn btn-success w-100">Contact me</a>
                </div>
            </div>
        </div>



        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <h3 class="Card Title"><span>@Model.ApplicationUser.FirstName</span>'s Job Posts</h3>
                    </div>

                    <div class="row gy-3">

                        @foreach (var item in ViewBag.JobPosts)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">


                                        <h5 class="card-title">@item.JobPostName</h5>
                                        <h6 class="card-title">@item.Category.CategoryName</h6>
                                        <p class="card-text">@item.JobPostDescription</p>

                                        <hr class="hr" />

                                        <div class="d-flex mb-3 justify-content-between">
                                            <div class="p me-3">@Convert.ToDateTime(item.JobApplicationDeadline).ToString("dd/MM/yyyy")</div>
                                            <div class="p me-3">-</div>
                                            <div class="p">@Convert.ToDateTime(item.JobLength).ToString("dd/MM/yyyy")</div>
                                        </div>

                                        <hr class="hr" />

                                        <div class="d-flex justify-content-between mb-2">
                                            <div class="p fw-bold">Budget</div>
                                            <div class="p">@item.JobPostBudget.ToString("#,##0.00") €</div>
                                        </div>

                                        <hr class="hr" />


                                        @if (User.IsInRole("Freelancer"))
                                        {
                                            @if (((List<int?>)ViewBag.AppliedJobs).Contains(item.JobPostId)) {

                                                 <form asp-controller="ApplicantsPerJobs" asp-action="UnApply" method="post" asp-route-id="@item.JobPostId">
                                                    <button class="btn btn-outline-primary btn-sm mb-1" style="width:100%;">UnApply</button>
                                                 </form>

                                            }
                                            else
                                            {

                                                 <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                                                    <button class="btn btn-primary btn-sm mb-1" style="width:100%;">Apply</button>
                                                 </form>

                                            }



                                            @if (((List<int?>)ViewBag.SavedJobs).Contains(item.JobPostId))
                                            {

                                                    <form asp-controller="SavedJobs" asp-action="Unsave" method="post" asp-route-id="@item.JobPostId">
                                                        <button class="btn btn-outline-primary btn-sm" style="width:100%;">Unsave</button>
                                                    </form>

                                            }
                                            else
                                            {

                                                    <form asp-controller="SavedJobs" asp-action="SaveJob" method="post" asp-route-id="@item.JobPostId">
                                                        <button class="btn btn-primary btn-sm" style="width:100%;">Save</button>
                                                    </form>

                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>