@model IEnumerable<ProfileMatching.Models.JobPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Job Posts</h1>

    @if (TempData["SuccessfulApplication"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Application was successful!");
            };
        </script>
    }

    @if (TempData["SuccessfulSave"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Job saved successfully!");
            };
        </script>
    }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplicationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Client Name</th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobApplicationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
                @if (((List<int?>)ViewBag.AppliedJobs).Contains(item.JobPostId))
                {
                    <td>
                        <form asp-controller="ApplicantsPerJobs" asp-action="UnApply" method="post" asp-route-id="@item.JobPostId">
                            <button>UnApply</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                            <button>Apply</button>
                        </form>
                    </td>
                }


                @if (((List<int?>)ViewBag.SavedJobs).Contains(item.JobPostId))
                {
                    <td>
                        <form asp-controller="SavedJobs" asp-action="Unsave" method="post" asp-route-id="@item.JobPostId">
                            <button>Unsave</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-controller="SavedJobs" asp-action="SaveJob" method="post" asp-route-id="@item.JobPostId">
                            <button>Save</button>
                        </form>
                    </td>
                }
         </tr>
       }
    </tbody>

 </table>


<a asp-action="Index" asp-controller="JobPosts">View All Job Posts</a>


<h2>Suggested Job Posts</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Job Post</label>
                @ViewBag.JobPostName
            </th>
            <th>
                <label>Budgetlabel</label>
                @ViewBag.JobPostBudget
            </th>
            <th>
                <label>Length</label>
                @ViewBag.JobLength
            </th>
            <th>
                <label>Description</label>
                @ViewBag.JobPostDescription
            </th>
            <th>
                <label>Application Deadline</label>
                @ViewBag.ApplicationDeadline
            </th>
            <th>
                <label>Category</label>
                @ViewBag.Category
            </th>
            <th>
                <label>Client Name</label>
            </th>
            <th>
                <label>Company</label>
                @ViewBag.CompanyName
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.MatchingJobPosts)
        {
            <tr>
                <td>
                    @item.JobPostName
                </td>
                <td>
                    @item.JobPostBudget
                </td>
                <td>
                    @item.JobLength
                </td>
                <td>
                    @item.JobPostDescription
                </td>
                <td>
                    @item.JobApplicationDeadline
                </td>
                <td>
                    @item.Category.CategoryName
                </td>
                <td>
                    @item.ApplicationUser.FirstName
                    @item.ApplicationUser.LastName

                </td>
                <td>
                    @item.CompanyName
                </td>
                @if (((List<int?>)ViewBag.AppliedJobs).Contains(item.JobPostId))
                {
                    <td>
                        <form asp-controller="ApplicantsPerJobs" asp-action="UnApply" method="post" asp-route-id="@item.JobPostId">
                            <button>UnApply</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                            <button>Apply</button>
                        </form>
                    </td>
                }


                @if (((List<int?>)ViewBag.SavedJobs).Contains(item.JobPostId))
                {
                    <td>
                        <form asp-controller="SavedJobs" asp-action="Unsave" method="post" asp-route-id="@item.JobPostId">
                            <button>Unsave</button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-controller="SavedJobs" asp-action="SaveJob" method="post" asp-route-id="@item.JobPostId">
                            <button>Save</button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" asp-controller="JobSuggestions">View All Suggested Job Posts</a>