@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<ProfileMatching.Models.JobPost>


@{
    ViewData["Title"] = "Index";
}

    @if (TempData["Message"] != null)  
    {  
        <script type="text/javascript">  
            window.onload = function () {  
                alert("You already applied for this job!");  
            };  
        </script>  
    } 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplicationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobApplicationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>

            <td>
                <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                    <button>Apply</button>
                </form>
            </td>
                <td>
                        <form asp-controller="SavedJobs" asp-action="SaveJob" method="post" asp-route-id="@item.JobPostId">
                                    <button>Save</button>
                        </form>
                    </td>
        </tr>
}
    </tbody>
</table>


