@model IEnumerable<ProfileMatching.Models.ClientDetail>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container">
<h1>Clients</h1>

<form asp-action="SearchClients" method="get">
    <p>Search: </p>
    <input type="text" name="teksti" value="" />
    <input type="submit" name="submit" value="Search" />
</form>

    <div class="card my-3">
        <div class="card-body">
            <div class="row gy-3">
                @foreach (var item in Model)
                {
                  <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">



                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h3>@Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</h3>
                                    </div>

                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Position) at <span class="fw-bold">@Html.DisplayFor(modelItem => item.CompanyName)</span> | @Html.DisplayFor(modelItem => item.City.CityName)</h5>
                                    <p class="card-text">@Html.DisplayNameFor(model => model.Description)</p>
                                <a asp-controller="ClientProfile" asp-action="View" asp-route-id="@item.ApplicationUser.Id" class="btn btn-success w-100">View Profile</a>
                                    
                                </div>
                            </div>
                        </div>
                }


            </div>
        </div>
    </div>


<div class="container">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if(pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Cities" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Cities" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }

            @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Cities" asp-action="Index" asp-route-pg="@pge"> @pge</a>
                </li>
            }

            @if(pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Cities" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Cities" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
        
            }

        </ul>
    }

</div>
</div>