@model IEnumerable<ProfileMatching.Models.FreelancerDetails>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Slider ID</label>
                @ViewBag.SliderId
            </th>
            <th>
                <label>Slider Title</label>
                @ViewBag.SliderTitle
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Sliders)
        {
            <tr>
                <td>
                    @item.SliderId
                </td>
                <td>
                    @item.SliderTitle
                </td>
            </tr>

        }
    </tbody>
</table>

<a asp-action="Create" asp-controller="JobPosts">Create a New Job Post</a>



<h1>Freelancers</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourlyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Languages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overview)
                </td>

            </tr>
        }
    </tbody>
</table>


<a asp-action="Index" asp-controller="Freelancers">View All Freelancers</a>


