@using Microsoft.AspNetCore.Identity

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@inject UserManager<IdentityUser> UserManager


@{
    Layout = "_Layout";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            var RolesForUser = await UserManager.GetRolesAsync(item);
            var roli = RolesForUser[0];


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @roli
            </td>

        </tr>
}
    </tbody>
</table>