@model IEnumerable<ProfileMatching.Models.FreelancerDetails>

@{
    ViewData["Title"] = "FilterList";

    Pager pager = new Pager();
    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container">

<h1>@ViewBag.FilteredCategoryName Freelancers</h1>

<form asp-action="SearchFreeLancers" method="get">
    <p>Search: </p>
    <input type="text" name="teksti" value="" />
    <input type="submit" name="submit" value="Search" />
</form>


<form asp-action="Filtered" method="get" >
    <p>Select Category: </p>
    <select name="id">
        @foreach (var item in ViewBag.Categories)
        {
            <option value="@item.CategoryId">@item.CategoryName</option>
        }
    </select>
    <input type="submit" name="submit" value="Filter" />
</form>


@if(Model.Count() == 0)
{
    <h3>No result was found.</h3>
}
else
{
        <div class="card my-3">
            <div class="card-body">
                <div class="row gy-3">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)</h5>
                                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.Category.CategoryName)</h6>
                                    <p class="card-text" id="FreelancerDescriptionCss">@Html.DisplayFor(modelItem => item.Overview)</p>

                                    <hr class="hr" />

                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="p fw-bold">Hourly Rate</div>
                                        <div class="p">@Html.DisplayFor(modelItem => item.HourlyRate) €</div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="p fw-bold">Languages</div>
                                        <div class="p">@Html.DisplayFor(modelItem => item.Languages)</div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="p fw-bold">City</div>
                                        <div class="p">@Html.DisplayFor(modelItem => item.City.CityName)</div>
                                    </div>

                                    <hr class="hr" />

                                    <a asp-controller="FreelancerProfile" asp-action="View" asp-route-id="@item.ApplicationUser.Id" class="btn btn-primary btn-sm mb-1 w-100">View Profile</a>
                                    <a href="mailto:@Html.DisplayFor(modelItem => item.ApplicationUser.Email)" class="btn btn-success btn-sm w-100">Contact</a>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
<div class="container">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if(pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Freelancers" asp-action="Index" asp-route-pg="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Freelancers" asp-action="Index" asp-route-pg="@(pager.CurrentPage-1)">Previous</a>
                </li>
            }

            @for(var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Freelancers" asp-action="Index" asp-route-pg="@pge"> @pge</a>
                </li>
            }

            @if(pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Freelancers" asp-action="Index" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Freelancers" asp-action="Index" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
        
            }

        </ul>
    }

</div>


}
</div>