@model ProfileMatching.Models.FreelancerDetails

@{
    ViewData["Title"] = "My Profile";
}
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Model.ApplicationUser.FirstName @Model.ApplicationUser.LastName</h3>
                    <p class="card-text">@Model.Overview</p>
                    <a href="mailto:@Model.ApplicationUser.Email" class="btn btn-success w-100">Contact me</a>
                    <hr class="hr mt-4 mb-4"/>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h4 class="card-title">Details</h4>
                        <a asp-action="Edit" asp-controller="FreelancerDetails" asp-route-id="@Model.FreelancerDetailsId" class="btn btn-primary btn-sm">Edit</a>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <div class="p fw-bold">Field</div>
                        <div class="p">@Model.Category.CategoryName</div>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <div class="p fw-bold">Hourly Rate</div>
                        <div class="p">@Model.HourlyRate €</div>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <div class="p fw-bold">Location</div>
                        <div class="p">@Model.City.CityName</div>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <div class="p fw-bold">Field</div>
                        <div class="p">@Model.Category.CategoryName</div>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <div class="p fw-bold">Languages</div>
                        <div class="p">@Model.Languages</div>
                    </div>




                    <hr class="hr mt-4 mb-4"/>



                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h4 class="card-title">Experience</h4>
                        <a asp-controller="FreelancerExperiences" asp-action="Create" class="btn btn-primary btn-sm">Add New</a>
                    </div>

                    @foreach (var item in ViewBag.FreeLancerExperiences)
                    {
                        <div class="d-flex justify-content-between">
                            <div class="p"><span class="fw-bold">@item.CompanyName</span> @item.EmploymentType.EmploymentTypeName</div>
                            <div class="d-flex justify-content-between">
                                <a asp-action="Edit" asp-controller="FreelancerExperiences" asp-route-id="@item.FreelancerExperienceID" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-action="Delete" asp-controller="FreelancerExperiences" asp-route-id="@item.FreelancerExperienceID" class="btn btn-danger btn-sm ms-1">Delete</a>
                            </div>
                        </div>

                        <div class="d-flex mb-3">
                            <div class="p me-3">@Convert.ToDateTime(item.StartDate).ToString("dd/MM/yyyy")</div>
                            <div class="p me-3">|</div>
                            <div class="p">@Convert.ToDateTime(item.EndDate).ToString("dd/MM/yyyy")</div>
                        </div>
                    }



                    <hr class="hr mt-4 mb-4"/>



                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h4 class="card-title">Education</h4>
                        <a asp-controller="FreelancerEducations" asp-action="Create" class="btn btn-primary btn-sm">Add New</a>
                    </div>

                    @foreach (var item in ViewBag.FreeLancerEducations)
                    {
                        <div class="d-flex justify-content-between">
                            <div class="p"><span class="fw-bold">@item.InstituteName</span> @item.Degree</div>
                            <div class="d-flex justify-content-between">
                                <a asp-action="Edit" asp-controller="FreeLancerEducations" asp-route-id="@item.FreelancerEducationid" class="btn btn-warning btn-sm">Edit</a>
                                <a asp-action="Delete" asp-controller="FreeLancerEducations" asp-route-id="@item.FreelancerEducationid" class="btn btn-danger btn-sm ms-1">Delete</a>
                            </div>
                        </div>

                        <div class="p">@item.FieldOfStudy</div>

                        <div class="d-flex mb-3">
                            <div class="p me-3">@Convert.ToDateTime(item.StartDate).ToString("dd/MM/yyyy")</div>
                            <div class="p me-3">|</div>
                            <div class="p">@Convert.ToDateTime(item.EndDate).ToString("dd/MM/yyyy")</div>
                        </div>
                    }






                </div>
            </div>
        </div>



        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <a asp-action="MySavedJobs" asp-controller="SavedJobs" class="btn btn-primary btn-sm" style="width:48%">My Saved Jobs</a>
                        <a asp-action="MyJobApplications" asp-controller="ApplicantsPerJobs" class="btn btn-primary btn-sm" style="width:48%">My Job Applications</a>
                    </div>

                    <div class="d-flex justify-content-between mb-3">
                        <h3 class="Card Title"><span>@Model.ApplicationUser.FirstName</span>'s Projects</h3>
                        <a asp-controller="Projects" asp-action="Create" class="btn btn-primary">Add New</a>
                    </div>
                    <div class="row gy-3">

                    @foreach (var item in ViewBag.Projects)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="@item.FileName" alt="Card image cap" style="aspect-ratio:2/1;">
                                <div class="card-body">
                                <h5 class="card-title">@item.ProjectName</h5>
                                        <p class="card-text">@item.Description</p>
                                <a href="@item.ProjectWebsite" class="btn btn-primary w-100">Project's Website</a>
                                @*Nese je ne profil ton*@
                                <hr class="hr"/>
                                    <div class="d-flex justify-content-between">
                                            <a asp-action="Edit" asp-controller="Projects" asp-route-id="@item.ProjectId" class="btn btn-warning btn-sm" style="width:40%">Edit</a>
                                            <a asp-action="Delete" asp-controller="Projects" asp-route-id="@item.ProjectId" class="btn btn-danger btn-sm" style="width:40%">Delete</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>