@model ProfileMatching.Models.FreelancerDetails

@{
    ViewData["Title"] = "Index";
}

<h1>FreelancersProfile</h1>

<a asp-action="MySavedJobs" asp-controller="SavedJobs">My Saved Jobs >></a> <br />
<a asp-action="MyJobApplications" asp-controller="ApplicantsPerJobs">My Job Applications >></a> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.ApplicationUser.Email
            </td>
            <td>
                @Model.ApplicationUser.FirstName
            </td>
            <td>
                @Model.ApplicationUser.LastName
            </td>
            <td>
                @Model.Category.CategoryName
            </td>
            <td>
                @Model.City.CityName
            </td>
            <td>
                @Model.HourlyRate
            </td>
            <td>
                @Model.Languages
            </td>
            <td>
                @Model.Overview
            </td>
            <td>
                <a asp-action="Edit" asp-controller="FreelancerDetails" asp-route-id="@Model.FreelancerDetailsId">Edit</a> 
            </td>
        </tr>
</table>
<h2>Projects</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Name</label>
                @ViewBag.ProjectName
            </th>
            <th>
              <label>FileName</label>
               @ViewBag.FileName
            </th>
            <th>
                <label>Description</label>
                @ViewBag.Description
            </th>
            <th>
                <label>ProjectWebsite</label>
                @ViewBag.ProjectsWebsite
            </th>
            <th>
                <label>Category</label>
                @ViewBag.Category
            </th>


            <th>
                 <a asp-controller="Projects" asp-action="Create">Add New</a>
            </th>

        </tr>
    </thead>


    <tbody>
        @foreach (var item in ViewBag.Projects)
        {
            <tr>
                <td>
                    @item.ProjectName
                </td>
                <td>
                    @item.FileName
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.ProjectWebsite
                </td>
                <td>
                    @item.Category.CategoryName
                </td>

                <td>
                    <a asp-action="Edit" asp-controller="Projects" asp-route-id="@item.ProjectId">Edit</a> |
                    <a asp-action="Delete" asp-controller="Projects" asp-route-id="@item.ProjectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Freelancer Experience</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>CompanyName</label>
                        @ViewBag.CompanyName
                    </th>
                    <th>
                        <label>EmploymentType</label>
                        @ViewBag.EmploymentType
                    </th>
                    <th>
                        <label>StartDate</label>
                        @ViewBag.StartDate
                    </th>
                    <th>
                        <label>EndDate</label>
                        @ViewBag.EndDate
                    </th>

            <th>
                 <a asp-controller="FreelancerExperiences" asp-action="Create">Add New</a>
            </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.FreeLancerExperiences)
                {
                    <tr>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            @item.EmploymentType.EmploymentTypeName
                        </td>
                        <td>
                            @item.StartDate
                        </td>
                        <td>
                            @item.EndDate

                        </td>
                        <td>
                    <a asp-action="Edit" asp-controller="FreelancerExperiences" asp-route-id=@item.FreelancerExperienceID>Edit</a> |
                     <a asp-action="Delete" asp-controller="FreelancerExperiences" asp-route-id="@item.FreelancerExperienceID">Delete</a>
                        </td>
                    </tr>
                }
</table>

<h2>Freelancer Educations</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label>InstituteName</label>
                            @ViewBag.InstituteName
                        </th>
                        <th>
                            <label>Degree</label>
                            @ViewBag.Degree
                        </th>
                        <th>
                            <label>FiedOfStudy</label>
                            @ViewBag.FieldOfStudy
                        </th>
                        <th>
                            <label>StartDate</label>
                            @ViewBag.StartDate
                        </th>
                        <th>
                            <label>EndDate</label>
                            @ViewBag.EndDate
                        </th>
                        


            <th>
                 <a asp-controller="FreelancerEducations" asp-action="Create">Add New</a>
            </th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.FreeLancerEducations)
                    {
                        <tr>
                         <td>
                            @item.InstituteName
                         </td>
                            <td>
                                @item.Degree
                            </td>
                            <td>
                                @item.FieldOfStudy
                            </td>
                            <td>
                                @item.StartDate
                            </td>
                       <td>
                            @item.EndDate
                         </td>

                            <td>
                                <a asp-action="Edit" asp-controller="FreeLancerEducations" asp-route-id="@item.FreelancerEducationid">Edit</a> |
                    <a asp-action="Delete" asp-controller="FreeLancerEducations" asp-route-id="@item.FreelancerEducationid">Delete</a>
                            </td>
                        </tr>
                    }

 

    </tbody>
</table>  