@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
@if (!(SignInManager.IsSignedIn(User)))
    {
        <div class="px-4 py-5 text-center" style="margin-top:100px;margin-bottom:100px">
        <h1 class="display-5 fw-bold">Welcome to JobMatch</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed ante ac nisi euismod tincidunt. Ut nec auctor diam. Curabitur sit amet porttitor ligula, non feugiat dolor. Praesent pharetra felis eu fermentum aliquam. Cras at facilisis nulla. Aliquam sit amet ligula quis elit tristique accumsan. Sed quis lacus vitae orci congue porta. Pellentesque at eleifend ante. In velit ipsum, fringilla in arcu id, bibendum luctus justo.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/Identity/Account/Login"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Login</button></a>
            <a href="/Identity/Account/Register"><button type="button" class="btn btn-outline-primary btn-lg px-4">Register</button></a>
          </div>
        </div>
      </div>
    }
    else
    {
        if (!User.IsInRole("Admin")){
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                @{
                    int counter = 0;
                }

                @foreach (var item in ViewBag.Sliders)
                {
                    counter++;

                    if (counter == 1)
                    {
                        <div class="carousel-item active">
                            <img src="@item.SliderFilename" class="d-block w-100 h-25" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                            <h5>@item.SliderTitle</h5>
                        </div>
                    </div>
                    }
                    else{
                            <div class="carousel-item">
                                <img src="@item.SliderFilename" class="d-block w-100 h-25" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>@item.SliderTitle</h5>
                                </div>
                            </div>
                    }

                    
                }


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        }
    }

@if (User.IsInRole("Freelancer")){
    <div class="d-flex mb-3 justify-content-between align-items-center my-4">
        <h1>Job Posts</h1>
        <a asp-action="Index" asp-controller="JobPosts" class="btn btn-primary">View All</a>
    </div>



        @if (TempData["SuccessfulApplication"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("Application was successful!");
                };
            </script>
        }

        @if (TempData["SuccessfulSave"] != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("Job saved successfully!");
                };
            </script>
        }

        <div class="card">
            <div class="card-body">
                <div class="row gy-3">
                    @foreach (var item in ViewBag.RecentJobPosts)
                    {
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@item.JobPostName</h5>
                                    <h6 class="card-title">@item.Category.CategoryName | @item.CompanyName</h6>
                                    <p class="card-text" id="FreelancerDescriptionCss">@item.JobPostDescription</p>
                                    
                                    <hr class="hr" />

                                    <div class="d-flex mb-3 justify-content-between">
                                            <div class="p me-3">@Convert.ToDateTime(item.JobApplicationDeadline).ToString("dd/MM/yyyy")</div>
                                            <div class="p me-3">-</div>
                                            <div class="p">@Convert.ToDateTime(item.JobLength).ToString("dd/MM/yyyy")</div>
                                    </div>

                                    <hr class="hr" />

                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="p fw-bold">Budget</div>
                                        <div class="p">@item.JobPostBudget.ToString("#,##0.00") €</div>
                                    </div>

                                    <hr class="hr" />

                                    @if (((List<int?>)ViewBag.AppliedJobs).Contains(item.JobPostId)) {

                                                 <form asp-controller="ApplicantsPerJobs" asp-action="UnApply" method="post" asp-route-id="@item.JobPostId">
                                                    <button class="btn btn-outline-primary btn-sm mb-1" style="width:100%;">UnApply</button>
                                                 </form>

                                            }
                                            else
                                            {

                                                 <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                                                    <button class="btn btn-primary btn-sm mb-1" style="width:100%;">Apply</button>
                                                 </form>

                                            }



                                            @if (((List<int?>)ViewBag.SavedJobs).Contains(item.JobPostId))
                                            {

                                                    <form asp-controller="SavedJobs" asp-action="Unsave" method="post" asp-route-id="@item.JobPostId">
                                                        <button class="btn btn-outline-primary btn-sm" style="width:100%;">Unsave</button>
                                                    </form>

                                            }
                                            else
                                            {

                                                    <form asp-controller="SavedJobs" asp-action="SaveJob" method="post" asp-route-id="@item.JobPostId">
                                                        <button class="btn btn-primary btn-sm" style="width:100%;">Save</button>
                                                    </form>

                                            }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>



    <div class="d-flex mb-3 justify-content-between align-items-center my-4">
        <h1>Suggested Job Posts</h1>
        <a asp-action="Index" asp-controller="JobSuggestions" class="btn btn-primary">View All</a>
    </div>

    <div class="card">
            <div class="card-body">
                <div class="row gy-3">
                    @foreach (var item in ViewBag.MatchingJobPosts)
                    {
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@item.JobPostName</h5>
                                    <h6 class="card-title">@item.Category.CategoryName | @item.CompanyName</h6>
                                    <p class="card-text" id="FreelancerDescriptionCss">@item.JobPostDescription</p>

                                    <hr class="hr" />

                                    <div class="d-flex mb-3 justify-content-between">
                                            <div class="p me-3">@Convert.ToDateTime(item.JobApplicationDeadline).ToString("dd/MM/yyyy")</div>
                                            <div class="p me-3">-</div>
                                            <div class="p">@Convert.ToDateTime(item.JobLength).ToString("dd/MM/yyyy")</div>
                                    </div>

                                    <hr class="hr" />

                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="p fw-bold">Budget</div>
                                        <div class="p">@item.JobPostBudget.ToString("#,##0.00") €</div>
                                    </div>

                                    <hr class="hr" />

                                    @if (((List<int?>)ViewBag.AppliedJobs).Contains(item.JobPostId)) {

                                                 <form asp-controller="ApplicantsPerJobs" asp-action="UnApply" method="post" asp-route-id="@item.JobPostId">
                                                    <button class="btn btn-outline-primary btn-sm mb-1" style="width:100%;">UnApply</button>
                                                 </form>

                                            }
                                            else
                                            {

                                                 <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                                                    <button class="btn btn-primary btn-sm mb-1" style="width:100%;">Apply</button>
                                                 </form>

                                            }



                                            @if (((List<int?>)ViewBag.SavedJobs).Contains(item.JobPostId))
                                            {

                                                    <form asp-controller="SavedJobs" asp-action="Unsave" method="post" asp-route-id="@item.JobPostId">
                                                        <button class="btn btn-outline-primary btn-sm" style="width:100%;">Unsave</button>
                                                    </form>

                                            }
                                            else
                                            {

                                                    <form asp-controller="SavedJobs" asp-action="SaveJob" method="post" asp-route-id="@item.JobPostId">
                                                        <button class="btn btn-primary btn-sm" style="width:100%;">Save</button>
                                                    </form>

                                            }
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
}

@if (User.IsInRole("Client")){

        <a asp-action="Create" asp-controller="JobPosts" class="btn btn-outline-primary w-100 my-4">Create a New Job Post</a>
        <div class="d-flex mb-3 justify-content-between align-items-center mb-2">
            <h1>Freelancers</h1>
            <a asp-action="Index" asp-controller="Freelancers" class="btn btn-primary">View All Freelancers</a>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row gy-3">
                    @foreach (var item in ViewBag.Freelancers)
                    {
                    <div class="col-md-3">
                        <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</h5>
                                    <h6 class="card-title">@item.Category.CategoryName</h6>
                                    <p class="card-text" id="FreelancerDescriptionCss">@item.Overview</p>

                                    <hr class="hr" />

                                    <div class="d-flex justify-content-between mb-2">
                                         <div class="p fw-bold">Hourly Rate</div>
                                        <div class="p">@item.HourlyRate €</div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-2">
                                         <div class="p fw-bold">Languages</div>
                                         <div class="p">@item.Languages</div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="p fw-bold">City</div>
                                        <div class="p">@item.City.CityName</div>
                                    </div>

                                    <hr class="hr" />

                                    <a asp-controller="FreelancerProfile" asp-action="View" asp-route-id="@item.ApplicationUser.Id" class="btn btn-primary btn-sm mb-1 w-100">View Profile</a>
                                    <a href="mailto:@item.ApplicationUser.Email" class="btn btn-success btn-sm w-100">Contact</a>
                                </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>


}

@if (User.IsInRole("Admin")){
    <h1 class="my-5">Admin Dashboard</h1>
    <div class="card my-5">
            <div class="card-body">
                <div class="row gy-5">


                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Categories</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="Categories" class="w-100 btn btn-sm btn-primary mb-2">Manage Categories</a>
                                <a asp-action="Create" asp-controller="Categories" class="w-100 btn btn-sm btn-outline-primary">Create Category</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Categories</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="Cities" class="w-100 btn btn-sm btn-primary mb-2">Manage Cities</a>
                                <a asp-action="Create" asp-controller="Cities" class="w-100 btn btn-sm btn-outline-primary">Create City</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Employment Types</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="EmploymentTypes" class="w-100 btn btn-sm btn-primary mb-2">Manage Employment Types</a>
                                <a asp-action="Create" asp-controller="EmploymentTypes" class="w-100 btn btn-sm btn-outline-primary">Create Employment Type</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Sliders</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="Sliders" class="w-100 btn btn-sm btn-primary mb-2">Manage Sliders</a>
                                <a asp-action="Create" asp-controller="Sliders" class="w-100 btn btn-sm btn-outline-primary">Create Slider</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Freelancer Details</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="FreelancerDetails" class="w-100 btn btn-sm btn-primary my-3">Manage Freelancer Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Freelancer Educations</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="FreelancerEducations" class="w-100 btn btn-sm btn-primary my-3">Manage Freelancer Educations</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Freelancer Experiences</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="FreelancerExperiences" class="w-100 btn btn-sm btn-primary my-3">Manage Freelancer Experiences</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Client Details</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="ClientDetails" class="w-100 btn btn-sm btn-primary my-3">Manage Client Details</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Job Posts</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="JobPosts" class="w-100 btn btn-sm btn-primary my-3">Manage Job Posts</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Job Applications</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="ApplicantsPerJobs" class="w-100 btn btn-sm btn-primary my-3">Manage Job Applications</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">Activity Log</h4>
                                <hr />
                                <a asp-action="Index" asp-controller="Activities" class="w-100 btn btn-sm btn-primary my-3">Manage Activities</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="text-center">User Roles</h4>
                                <hr />
                                <a href="/Admin/Roles" class="w-100 btn btn-sm btn-primary mb-2">Manage Roles</a>
                                <a href="/Admin/Roles/CreateRole" class="w-100 btn btn-sm btn-outline-primary">Create Role</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>

 
    
}
</div>