@model ProfileMatching.Models.JobPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JobPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPostBudget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPostBudget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobPostDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPostDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobApplicationDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobApplicationDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JobPostId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
