@model IEnumerable<ProfileMatching.Models.JobPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostBudget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPostDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobApplicationDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobApplicationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.JobPostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.JobPostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.JobPostId">Delete</a> |
                <a asp-controller="ApplicantsPerJobs" asp-action="ShowJobApplicants" asp-route-id="@item.JobPostId">Show Applicants</a>
            </td>

            <td>
                <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                    <button>Apply</button>
                </form>
            </td>
                <td>
                    <form asp-controller="SavedJobs" asp-action="SaveJob" method="post" asp-route-id="@item.JobPostId">
                        <button>Save</button>
                    </form>
                </td>
        </tr>
}
    </tbody>
</table>
