@model IEnumerable<ProfileMatching.Models.ApplicantsPerJob>

@{
    ViewData["Title"] = "MyJobApplications";
}

<h1>Your Job Applications:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobPostId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>

                    @if (((List<int?>)ViewBag.AppliedJobs).Contains(item.JobPostId)) {
                        <td>
                         <form asp-controller="ApplicantsPerJobs" asp-action="UnApply" method="post" asp-route-id="@item.JobPostId">
                             <button>UnApply</button>
                         </form>
                        </td>
                    }
                    else
                    {
                         <td>
                         <form asp-controller="ApplicantsPerJobs" asp-action="ApplyForJob" method="post" asp-route-id="@item.JobPostId">
                             <button>Apply</button>
                         </form>
                        </td>  
                    }


            
            </tr>

        }
    </tbody>
</table>
