@model IEnumerable<ProfileMatching.Models.ApplicantsPerJob>

@{
    ViewData["Title"] = "ShowJobApplicants";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>

            <td>
                <form asp-controller="ApplicantsPerJobs" asp-action="Delete" method="post" asp-route-id="@item.ApplicantPerJobId">
                    <button>Delete Application</button>
                </form>
            </td>
        </tr>

}
    </tbody>
</table>
